gradio==5.34.0
python-multipart==0.0.20
gradio_client==1.10.3
fastapi==0.116.1
primp
pypinyin
tiktoken
socksio
tqdm
colorama
googlesearch-python
Pygments
openai
langchain
langchain-openai
langchainhub
langchain_community
groq
markdown
PyPDF2
pdfplumber
pandas
commentjson
openpyxl
pandoc
wolframalpha
faiss-cpu
duckduckgo-search
arxiv
wikipedia
google-cloud-aiplatform
google.generativeai
unstructured
google-api-python-client
tabulate
ujson
python-docx
websocket_client
pydantic
google-search-results
anthropic
Pillow
protobuf
ollama
numexpr
regex